<% provide :title, "edit" %>
<p class = "page_title">編集</p>
<h2 class = "about_page">編集したいウイスキーを選んでください</h2>
    <section>
      <input class = "whisky_name" type = "text">
      <input class = "whisky_kind" type = "text">
      <input class = "whisky_evaluation" type = "text">
      <input class = "whisky_comment" type = "text">
    </section>
