<% provide :title, "edit" %>
<p class = "page_title">編集</p>
<h2 class = "about_page">項目を編集してください</h2>
    <a class="btn" href="#" role="button">編集</a>
    <div class = "list_box">
      <div class = "list_img"></div>
      <div class = "list_text"></div>
    </div>