<% provide :title, "edit" %>

    <section>
      <input class = "whisky_name" type = "text">
      <input class = "whisky_kind" type = "text">
      <input class = "whisky_evaluation" type = "text">
      <input class = "whisky_comment" type = "text">
    </section>
