<% provide :title, "edit" %>
<<<<<<< HEAD
<h2 class = "page_title">編集</h2>
=======
<% provide :page_title,"編集"%>
>>>>>>> write_html
<h3 class = "about_page">編集したいウイスキーを選んでください</h3>
    <section>
      <input class = "whisky_name" type = "text">
      <input class = "whisky_kind" type = "text">
      <input class = "whisky_evaluation" type = "text">
      <input class = "whisky_comment" type = "text">
    </section>
