<% provide :title, "edit" %>
　　<p class = "page_title">編集</p>
    <p class = "about_page">このページはコレクションの追記、編集を行うページです</p>

    <a class="btn" href="#" role="button">編集</a>
    <div class = "list_box">
      <div class = "list_img"></div>
      <div class = "list_text"></div>
    </div>