<% provide :title, "edit" %>
<<<<<<< HEAD
<h2 class = "page_title">編集</h2>
=======
<% provide :title, "編集"%>
>>>>>>> write_html
<h3 class = "about_page">項目を編集してください</h3>
    <a class="btn" href="#" role="button">編集</a>
    <div class = "list_box">
      <div class = "list_img"></div>
      <div class = "list_text"></div>
    </div>