<% provide :title, "home" %>
<div class = "text-center">
  <div class = "page_title-box rounded ">
    <h3 class = "page_title">ホーム</h2>
  </div>
  <h3 class = "about_page">このアプリの使い方</h3>
</div>
  <h3 class = "how-to-use">このアプリはあなたが作る図鑑です！<br>
  あなただけの図鑑を完成させましょう</h3>

